<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AuthenticateURL</key>
	<string>http://127.0.0.1:4567/users/authenticate</string>
	<key>RegisterURL</key>
	<string>http://127.0.0.1:4567/users/register</string>
</dict>
</plist>
