<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Tutorials
            </a>
        </li>
        <li>
            <a href="#">M1</a>
        </li>
        <li>
            <a href="#">M2</a>
        </li>
        <li>
            <a href="#">M3</a>
        </li>
        <li>
            <a href="#">M4</a>
        </li>
        <li>
            <a href="#">M5</a>
        </li>
        <li>
            <a href="#">M6</a>
        </li>
        <li>
            <a href="#">M7</a>
        </li>
		<li>
            <a href="#">M8</a>
        </li>
		<li>
            <a href="#">M9</a>
        </li>
		<li>
            <a href="#">M10</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->