<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Tutorials
            </a>
        </li>
        <li>
            <a href="/tutorial/m1">Insecure Direct Object Reference</a>
        </li>
        <li>
            <a href="/tutorial/m2">Insecure Data Storage</a>
        </li>
        <li>
            <a href="/tutorial/m3">Transport Layer Protection</a>
        </li>
        <li>
            <a href="/tutorial/m4">Unintended Data Leakage</a>
        </li>
        <li>
            <a href="/tutorial/m5">Authorization and Authentication</a>
        </li>
        <li>
            <a href="/tutorial/m6">Broken Cryptography</a>
        </li>
        <li>
            <a href="/tutorial/m7">Client Side Injection</a>
        </li>
	    <li>
            <a href="/tutorial/m8">Untrusted Input</a>
        </li>
		<!--<li>
            <a href="/tutorial/m9">M9 - For future use</a>
        </li>
		<li>
            <a href="/tutorial/m10">M10 - For future use</a>
        </li> -->
    </ul>
</div>
<!-- /#sidebar-wrapper -->