<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Tutorials
            </a>
        </li>
        <li>
            <a href="/tutorial/m1">M1</a>
        </li>
        <li>
            <a href="/tutorial/m2">M2</a>
        </li>
        <li>
            <a href="/tutorial/m3">M3</a>
        </li>
        <li>
            <a href="/tutorial/m4">M4</a>
        </li>
        <li>
            <a href="/tutorial/m5">M5</a>
        </li>
        <li>
            <a href="/tutorial/m6">M6</a>
        </li>
        <li>
            <a href="/tutorial/m7">M7</a>
        </li>
		<li>
            <a href="/tutorial/m8">M8</a>
        </li>
		<li>
            <a href="/tutorial/m9">M9</a>
        </li>
		<li>
            <a href="/tutorial/m10">M10</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->