<div class="panel-group" id="accordion">
<h4>M3: Insufficient Transport Layer Protection</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Description
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Data exchange with backend web services is common for mobile applications. Often, developers use SSL defaults or ignore encryption altogether when communicating with these services. In situations where sensitive data or credentials are exchanged between the app and server, this data could be exposed to unauthorized third parties.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Bug
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Unencrypted data is easily viewed using network capture utilities like tcpdump or wireshark. Identification of these flaws is also possible through code analysis of NSURLConnections.</p>
        NVLoginViewController:
        <pre class="swift">
      func login() {
        self.message.text = "Logging in as \(self.username.text)"
        
        var authRequest = [
            "email": self.username.text,
            "password": self.password.text
        ]
        
        var err:NSError? = nil
        var j = NSJSONSerialization.dataWithJSONObject(authRequest, options: NSJSONWritingOptions.PrettyPrinted, error: &err)
        
        var envPlist = NSBundle.mainBundle().pathForResource("Environment", ofType: "plist")
        var envs = NSDictionary(contentsOfFile: envPlist!)
        var tURL = envs.valueForKey("AuthenticateURL") as String
        var authURL = NSURL(string: tURL)
        
        NSLog("authenticate \(self.username.text) with \(authURL)")
        
        var request = NSMutableURLRequest(URL: authURL)
        request.HTTPMethod = "POST"
        request.HTTPBody = j
        
        var queue = NSOperationQueue()
        var con = NSURLConnection(request: request, delegate: self, startImmediately: true)
    }</pre>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Solution - Attack
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
        <li>Start a network capture tool listening on the local loopback interface.
        <li>Login to Swift.nV
        <li>View the capture output for user authentication credentials.
        <li>A full list of application URLs can be found in Supporting Files\Environment.plist
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Solution - Fix
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Encrypt all sensitive communications. Network communications, especially in public locations, are prone to eavesdropping by unknown attackers. Implement SSL using strong, industry standard cipher suites with appropriate key lengths.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Hint
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Identify the plist where URL endpoints are defined.</p>
      </div>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          Reference
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        <a href="https://www.owasp.org/index.php/Mobile_Top_10_2014-M3">
        OWASP Mobile Top 10 2014 - M3 - Insufficient Transport Layer Protection
        </a>
      </div>
    </div>
  </div>

</div>