<div class="panel-group" id="accordion">
<h4>M4: Unintended Data Leakage</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Description
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Mobile application platforms often contain internal processes that store and retrieve data to help with user interaction. iOS in particular contains multiple documented processes that can expose sensitive information through unintended channels. In particular, iOS screenshots applications when the Home button is pressed. This screenshot is stored within the application cache and used as a splash screen when a user re-opens the application.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Bug
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Application background screenshots can contain sensitive information, including Swift.nV "secrets".</p>
        AppDelegate.swift:
        <pre class="swift">
    func applicationDidEnterBackground(application: UIApplication) {
        NSUserDefaults.standardUserDefaults().synchronize()
    }</pre>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Solution - Attack
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
        <li>Login to Swift.nV.
        <li>Open a previously created secret.
        <li>Edit the "value" field to expose the plaintext secret.
        <li>Create a background snapshot by closing the application (Command-Shift-h in the iOS Simulator)
        <li>Locate the auto-created snapshot in the corresponding Device folder (UIApplicationAutomaticSnapshotDefault*.png)
        <li>Open the snapshot in Preview to view the stored data.
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Solution - Fix
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Within the applicationDidEnterBackground event used to handle when an application is closed (see AppDelegate.swift), clear any sensitive fields of their data if they are displayed unmasked. As an example, passwords are typically masked as they are typed, while financial information or personally identifiable information is displayed in plain text. Another solution is to utilize the same event but render an image to overlay the sensitive fields. The recommended approach is to clear sensitive data as it serves a dual purpose of limiting how long the data is held in memory.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Hint
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <p>The iOS Simulator for Xcode6 stores data in the ~/Library/Developer/CoreSimulator/Devices directory.</p>
      </div>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          Reference
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        <a href="https://www.owasp.org/index.php/Mobile_Top_10_2014-M4">
        OWASP Mobile Top 10 2014 - M4 - Unintended Data Leakage
        </a>
      </div>
    </div>
  </div>

</div>