<div class="panel-group" id="accordion">
<h4>M5: Poor Authorization and Authentication</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Description
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>All applications with sensitive functions depend on user identification, authentication, and authorization. Mobile applications are no exception. While seemingly simple on the surface, creating secure routines for these functions is a constant battle for developers. Developers making simple mistakes or overlooking edge cases allow an attacker to potentially access data or compromise other users' accounts.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Bug
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      NVItemsTableViewController.swift
        <pre class="swift">
    override func viewDidAppear(animated: Bool) {
        super.viewDidAppear(animated)
        
        let delegate : AppDelegate = UIApplication.sharedApplication().delegate as AppDelegate
        let context = delegate.managedObjectContext!
        var hvc : NVHomeViewController = self.parentViewController as NVHomeViewController
        appUser = hvc.appUser
        NSLog("Getting items for \(appUser.email)")
        
        var netStore : Bool = NSUserDefaults.standardUserDefaults().boolForKey("networkStorage")
        
        if (netStore && self.firstLoad) {
            var envPlist = NSBundle.mainBundle().pathForResource("Environment", ofType: "plist")
            var envs = NSDictionary(contentsOfFile: envPlist!)
        
            var err:NSError? = nil
        
            var tURL = envs.valueForKey("SecretsURL") as String
            var secURL = NSURL(string: "\(tURL)/\(self.appUser.user_id)")
        
            NSLog("Getting secrets \(secURL)")
        
            var request = NSMutableURLRequest(URL: secURL)
            request.HTTPMethod = "GET"
        
            var queue = NSOperationQueue()
            var con = NSURLConnection(request: request, delegate: self, startImmediately: true)
        }
        
        let fr:NSFetchRequest = NSFetchRequest(entityName:"Item")
        fr.returnsObjectsAsFaults = false
        
        var err:NSError? = nil
        self.items = context.executeFetchRequest(fr, error: &err)
        
        self.tableView.reloadData()

    }</pre>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Solution - Attack
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
       	<li>Register a second user and login to Swift.nV. Notice the momentary list of secrets after login.
        <li>Stop the running application from Xcode.
        <li>Stop the backend web service.
        <li>Re-run the application from Xcode. All of the stored secrets are accessible from within Swift.nV
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Solution - Fix
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Local cached data should be protected or deleted whenever it is not required for current application use. Clear local secrets and data associated with previous users when a new user logs in.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Hint
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Initial NVItemsTableViewController setup loads all items in Core Data.</p>
      </div>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          Reference
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        <a href="https://www.owasp.org/index.php/Mobile_Top_10_2014-M5">
        OWASP Mobile Top 10 2014 - M5 - Poor Authorization and Authentication
        </a>
      </div>
    </div>
  </div>

</div>